root = true

# Unix-style newlines with a newline ending every file 对于所有的文件  始终在文件末尾插入一个新行
[*]
end_of_line = lf
insert_final_newline = true

[*.{dart,yaml}]
charset = utf-8

[*.dart]
indent_style = space
indent_size = 2
